{% extends 'base.html' %}

{% block content %}
{% load static %}

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
       <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Output Filename</label>
        <input type="text" class="form-control" id="outputFileName" aria-describedby="emailHelp" name="outputFileName">
    </div>


      <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Source Location</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="location">
          <label for="exampleInputPassword1" class="form-label">Destinations csv Path</label>
              <input type="file" id="exampleInputPassword1" name="document" accept="text/csv">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {% if url %}
    <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
  {% endif %}
{% endblock %}